.button
  background-color: #B4141B
  width: 284px
  height: 74px
  color: #ffffff
  display: flex
  justify-content: center
  align-items: center
  cursor: pointer
  font-weight: 700
  font-size: 24px
  line-height: 23px

  &_small
    width: 104px
    height: 35px
    font-size: 12px
    line-height: 23px


@media (max-width: 1600px)
  .button
    width: 160px
    height: 39px
    font-size: 16px

@media (max-width: 1200px)

  .button
    width: 187px
    height: 49px
    font-size: 20px

  .button_small
    width: 80px
    height: 25px
    font-size: 10px
    line-height: 20px