{
  "extends": [
    "react-app",
    "react-app/jest"
  ],
  "rules": {
    "no-console": "warn",
    "prefer-const": "warn",
    "quotes": ["error", "single"],
    "indent": ["warn", 2],
    "max-len": ["warn", {"code": 120}],
    "jsx-quotes": ["warn", "prefer-double"],
    "comma-dangle": ["error", "always-multiline"],
    "semi": ["warn", "always"]
  }
}