.section-service
  width: 100%
  display: flex
  flex-direction: row
  margin-bottom: 161px

  &__left-content
    width: 600px
    margin-right: 97px

  &__sub-title
    margin-bottom: 47px

  &__right-image
    width: 474px
    height: 323px
    background: url("../../img/section-service__right-image.png") center no-repeat
    margin-bottom: 58px

  &__right-text
    max-width: 475px
    margin-bottom: 45px
    font-size: 16px
    line-height: 29px

@media (max-width: 1200px)
  .section-service
    margin-bottom: 100px