@import "scss/custom-bootstrap"
@import "scss/constants"


@font-face
  font-family: 'Asap'
  src: url("/fonts/Asap-VariableFont_wght.ttf")

.custom-container
  width: 1665px
  margin: 0 auto
  position: relative
  font-family: 'Asapd'
  font-style: normal

  &_small
    margin: 0 auto
    max-width: 1172px

.section-contact-us
  position: absolute
  bottom: 563px
  width: 100%


@media (max-width: 1200px)
  .custom-container
    width: 960px
  .custom-container_small
    max-width: 90%

@media (max-width: 991px)
