@import "./css/constants"

.custom-container
    max-width: 1665px
    margin: 0 auto
    position: relative
    font-family: 'Asap', sans-serif
    font-style: normal
    &_small
        margin: 0 auto
        max-width: 1172px

.section-header
    margin-bottom: 85px
    &__content-container
        width: 100%
        margin: 0 auto
        display: flex
        flex-direction: row
        align-items: center
        height: 119px
    &__e-mail
        color: white
        text-decoration: none
    &__logo
        width: 75px
        height: 75px
        margin-right: 16%
    &__nav-bar-container
        max-width: 629px
        width: 100%
        margin-right: 5%

    &__carousel
        position: relative
    &__carousel-text
        max-width: 34%
        position: absolute
        right: 15%
        top: 23%
    &__carousel-button
        position: absolute
        right: 32%
        top: 60%

.blue-row
    background-color: $color-blue
    height: 40px
    &__content
        margin: 0 auto
        display: flex
        flex-direction: row
        justify-content: space-between
        align-items: center
        width: 100%
        height: 100%

.about-us
    display: flex
    flex-direction: row
    &__left-content
        max-width: 65%
        margin-right: 48px
    &__title
        margin-bottom: 57px
.title
    font-weight: 700
    font-size: 32px
    line-height: 37px

.benefits
    &__left-content
        position: relative
        width: 877px
        height: 504px
    &__background-img
        background: url("./img/benefits-background.png")
        width: 100%
        height: 100%