@import "src/css/constants"

.service
  &__item-title-container
    display: flex
    flex-direction: row
    justify-content: space-between
    margin-bottom: 25px
  &__item-title
    color: $color-blue
    font-weight: 700
    font-size: 24px
    line-height: 28px
  &__item-line
    width: 100%
    border-bottom: 1px solid black
    margin-bottom: 32px
  &__item-content
    display: flex
    flex-direction: row
    transition: 2s

  &__item-text-container
    max-width: 419px
  &__item-image
    margin-right: 20px
