@import "src/css/constants"

.service
  &__item-title-container
    display: flex
    flex-direction: row
    justify-content: space-between
    margin-bottom: 25px
  &__item-title
    color: $color-blue
    font-weight: 700
    font-size: 24px
    line-height: 28px
  &__item-line
    width: 100%
    border-bottom: 1px solid black
    margin-bottom: 32px
  &__item-content
    display: flex
    flex-direction: row
    height: 0
    overflow: hidden
    transition: 0.5s
  &_item-active
    height: 160px
    margin-bottom: 42px

  &__item-text-container
    max-width: 419px
  &__item-image
    margin-right: 20px
  &__item-icon
    width: 18px
    height: 18px
    background: url("../../../icons/plus.svg")
  &_icon-active
    background: url("../../../icons/minus.svg") no-repeat center